<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,2},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,81},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,105},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{1420,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,160},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,208},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,263},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,239},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{1911,287},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,342},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,366},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_0/sprite_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,318},{99,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_item_2_fg_merge_0_3.png</string>
			<key>realTextureFileName</key>
			<string>empire_item_2_fg_merge_0_3.png</string>
			<key>size</key>
			<string>{2036,467}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2036</integer>
			<key>height</key>
			<integer>467</integer>
		</dict>
	</dict>
</plist>