<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,2},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,2},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,106},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,146},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,210},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1874,290},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,250},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,250},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_0/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,250},{140,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,100}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,184},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,366},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,548},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,730},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,912},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1094},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1276},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1458},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1640},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1822},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1420,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_show/merge_1/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,2},{140,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,178}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_item_2_show.png</string>
			<key>realTextureFileName</key>
			<string>empire_item_2_show.png</string>
			<key>size</key>
			<string>{2030,2002}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2030</integer>
			<key>height</key>
			<integer>2002</integer>
		</dict>
	</dict>
</plist>