<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/frame_gold/frame_0/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1637},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1634},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1778},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1922},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1634},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1778},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1922},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,594},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,450},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,2},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,146},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,738},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,882},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,620},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,226},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,450},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,226},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,844},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1068},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1292},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,594},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,818},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1042},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1266},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1490},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,710},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,2},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,311},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1019},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1328},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1756},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1900},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,620},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,2},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,311},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,929},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1238},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1547},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1691},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,356},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,710},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1064},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1418},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1772},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1901},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,2},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,356},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,710},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1064},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1418},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,2},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,356},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_frame_gold_items.png</string>
			<key>realTextureFileName</key>
			<string>empire_frame_gold_items.png</string>
			<key>size</key>
			<string>{1095,2042}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1095</integer>
			<key>height</key>
			<integer>2042</integer>
		</dict>
	</dict>
</plist>