<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_img/fly_coin/diamon_sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,283},{76,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,48}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,323},{74,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,49}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,179},{66,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,62}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,238},{76,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,61}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,109},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,318},{76,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,65}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,109},{67,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,66}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,215},{64,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,68}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,102},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,312},{76,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,71}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,236},{72,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,75}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,108},{64,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,75}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,335},{71,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,49}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,291},{71,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,50}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,244},{74,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,52}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,235},{76,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,52}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,176},{76,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,57}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,109},{78,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,59}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,172},{74,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,59}</string>
			</dict>
			<key>empire_img/fly_coin/diamon_sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,179},{71,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,61}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,100},{115,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,58}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,208},{116,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,53}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,118},{114,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,69}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,107},{112,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,103}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,2},{113,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,103}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,2},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,85}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,107},{110,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,104}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,2},{108,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,96}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,2},{109,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,94}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,214},{108,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,105}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,2},{106,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,103}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,2},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,102}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,100},{116,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,42}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,118},{116,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,37}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,91},{117,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,25}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,208},{116,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,20}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{116,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,101}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,2},{116,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,101}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,2},{112,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,82}</string>
			</dict>
			<key>empire_img/fly_coin/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,91},{113,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,73}</string>
			</dict>
			<key>empire_img/fly_coin/star_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,376},{56,47}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,50}</string>
			</dict>
			<key>empire_img/fly_coin/twinkle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,215},{37,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_sprites_fly_coin.png</string>
			<key>realTextureFileName</key>
			<string>empire_sprites_fly_coin.png</string>
			<key>size</key>
			<string>{1023,425}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>425</integer>
		</dict>
	</dict>
</plist>