<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,146},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1858,265},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,384},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,434},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1849,503},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,528},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,528},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,528},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,528},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,528},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_0/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,528},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,450},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,674},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1122},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1346},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1570},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1794},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,370},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,594},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,818},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1042},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1266},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1490},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1714},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/tranfer/merge_1/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_item_8_transfer.png</string>
			<key>realTextureFileName</key>
			<string>empire_item_8_transfer.png</string>
			<key>size</key>
			<string>{2000,2016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2000</integer>
			<key>height</key>
			<integer>2016</integer>
		</dict>
	</dict>
</plist>