<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_img/localize/en/congrat_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,927},{418,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,66}</string>
			</dict>
			<key>empire_img/localize/en/fg_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,522},{378,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,64}</string>
			</dict>
			<key>empire_img/localize/en/freespin_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1443},{168,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,36}</string>
			</dict>
			<key>empire_img/localize/en/text_eliminate_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,2026},{91,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,15}</string>
			</dict>
			<key>empire_img/localize/en/text_free_game_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,2019},{166,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,26}</string>
			</dict>
			<key>empire_img/localize/en/text_free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{1988,1923},{77,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,17}</string>
			</dict>
			<key>empire_img/localize/en/text_lines.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,1999},{67,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,22}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_page_1_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1603},{799,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{799,168}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_page_2_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1923},{466,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{466,72}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_page_2_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1010},{532,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,49}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_page_3_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,240},{739,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{739,168}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_page_6_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,561},{552,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{552,216}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,781},{618,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,142}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_text_game_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,2019},{184,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,27}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_text_golden_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,2014},{219,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,28}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_text_pay_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1783},{150,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,33}</string>
			</dict>
			<key>empire_img/localize/en/tutorial_text_wild_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,396},{303,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,28}</string>
			</dict>
			<key>empire_img/localize/ph/congrat_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,927},{418,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,66}</string>
			</dict>
			<key>empire_img/localize/ph/fg_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1251,522},{378,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,64}</string>
			</dict>
			<key>empire_img/localize/ph/freespin_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1775},{168,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,36}</string>
			</dict>
			<key>empire_img/localize/ph/text_eliminate_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,2026},{115,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,18}</string>
			</dict>
			<key>empire_img/localize/ph/text_free_game_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,1822},{200,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,33}</string>
			</dict>
			<key>empire_img/localize/ph/text_free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{1781,2026},{108,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,17}</string>
			</dict>
			<key>empire_img/localize/ph/text_lines.png</key>
			<dict>
				<key>frame</key>
				<string>{{1733,1999},{67,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,22}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_page_1_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1822},{766,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{766,193}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_page_2_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,412},{454,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,73}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_page_2_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1822},{491,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,97}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_page_3_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1822},{741,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{741,188}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_page_6_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,522},{553,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{553,289}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1009,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1009,234}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_text_game_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,2},{390,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,32}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_text_golden_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,2014},{219,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,28}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_text_pay_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1783},{150,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,33}</string>
			</dict>
			<key>empire_img/localize/ph/tutorial_text_wild_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2019},{275,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,26}</string>
			</dict>
			<key>empire_img/localize/km/text_free_game_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1656},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_page_1_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,2},{803,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{803,196}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_page_2_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,489},{438,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,68}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_page_2_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,412},{533,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{533,67}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_page_3_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1599,227},{803,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{803,196}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_page_6_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,227},{580,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{580,291}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_text_game_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,944},{137,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,48}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_text_golden_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,2019},{199,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,25}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_text_pay_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,1603},{189,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,49}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_text_wild_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,703},{303,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,28}</string>
			</dict>
			<key>empire_img/localize/km/congrat_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,522},{418,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,66}</string>
			</dict>
			<key>empire_img/localize/km/fg_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,522},{378,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,64}</string>
			</dict>
			<key>empire_img/localize/km/freespin_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1775},{168,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,36}</string>
			</dict>
			<key>empire_img/localize/km/text_eliminate_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1783},{105,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,25}</string>
			</dict>
			<key>empire_img/localize/km/text_free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,1783},{127,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,28}</string>
			</dict>
			<key>empire_img/localize/km/text_lines.png</key>
			<dict>
				<key>frame</key>
				<string>{{1804,1999},{67,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,22}</string>
			</dict>
			<key>empire_img/localize/km/tutorial_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,1034},{759,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{759,173}</string>
			</dict>
			<key>empire_img/localize/my/congrat_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,522},{418,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,66}</string>
			</dict>
			<key>empire_img/localize/my/fg_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,996},{378,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,64}</string>
			</dict>
			<key>empire_img/localize/my/freespin_end_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1775},{168,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,36}</string>
			</dict>
			<key>empire_img/localize/my/text_eliminate_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,2014},{146,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,25}</string>
			</dict>
			<key>empire_img/localize/my/text_free_game_tutorial.png</key>
			<dict>
				<key>frame</key>
				<string>{{1288,1775},{111,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,37}</string>
			</dict>
			<key>empire_img/localize/my/text_free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,1783},{99,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,27}</string>
			</dict>
			<key>empire_img/localize/my/text_lines.png</key>
			<dict>
				<key>frame</key>
				<string>{{1875,1999},{67,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,22}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_page_1_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1799,809},{790,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{790,191}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_page_2_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,996},{461,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{461,58}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_page_2_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1461},{422,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,54}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_page_3_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1603},{766,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{766,176}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_page_6_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,815},{555,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,177}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_start_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,2},{788,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{788,208}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_text_game_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1034},{214,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,43}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_text_golden_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1252},{187,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,41}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_text_pay_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,2014},{220,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,29}</string>
			</dict>
			<key>empire_img/localize/my/tutorial_text_wild_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1546},{272,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,41}</string>
			</dict>
			<key>empire_img/localize/en/text_win_extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,1708},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>empire_img/localize/km/text_win_extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,240},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>empire_img/localize/my/text_win_extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,240},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
			<key>empire_img/localize/ph/text_win_extra.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,240},{118,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_tutorial_text.png</string>
			<key>realTextureFileName</key>
			<string>empire_tutorial_text.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>