<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,146},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,146},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,146},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,146},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,265},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,265},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,265},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1842,265},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,384},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,384},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,384},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1730,384},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1874,384},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,409},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,503},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,503},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_0/sprite_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,503},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,450},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,674},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,898},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1122},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1346},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1570},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1794},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,2},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,370},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,594},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,818},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1042},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1266},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1490},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1714},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_eliminate/merge_1/sprite_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,146},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_item_eliminate_0_1_2.png</string>
			<key>realTextureFileName</key>
			<string>empire_item_eliminate_0_1_2.png</string>
			<key>size</key>
			<string>{2016,2016}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2016</integer>
			<key>height</key>
			<integer>2016</integer>
		</dict>
	</dict>
</plist>