<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,855},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,984},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1113},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1242},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1371},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1500},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1629},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1758},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1887},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,855},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,131},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,260},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,389},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,518},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,647},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,984},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1113},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1242},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1371},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1500},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1629},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1758},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1887},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,776},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_0/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,131},{125,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,108}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,183},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,364},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,545},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,726},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,907},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1088},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1269},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1450},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1631},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1812},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1579,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1760,2},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,131},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,312},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,493},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_nearwin/merge_1/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,674},{125,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,177}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_item_2_nw.png</string>
			<key>realTextureFileName</key>
			<string>empire_item_2_nw.png</string>
			<key>size</key>
			<string>{1939,2014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1939</integer>
			<key>height</key>
			<integer>2014</integer>
		</dict>
	</dict>
</plist>