<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,155},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,308},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,461},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,614},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,767},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,920},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1073},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1226},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1379},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1532},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1685},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1838},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,2},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,105},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,155},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,208},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,308},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,461},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,614},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,767},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,920},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1073},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1226},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1379},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1532},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1685},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1838},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,311},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{1688,414},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,461},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,517},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_88.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,567},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,517},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,517},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,517},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
			<key>empire_anim/items/item_2/highlight_fg/merge_1/sprite_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,517},{99,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,149}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_item_2_fg_merge_1_2.png</string>
			<key>realTextureFileName</key>
			<string>empire_item_2_fg_merge_1_2.png</string>
			<key>size</key>
			<string>{2042,1989}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2042</integer>
			<key>height</key>
			<integer>1989</integer>
		</dict>
	</dict>
</plist>