<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>empire_img/icon_vip/icon_vip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,746},{63,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,54}</string>
			</dict>
			<key>empire_img/icon_vip/icon_vip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,645},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>empire_img/icon_vip/icon_vip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,557},{84,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>empire_img/icon_vip/icon_vip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,836},{85,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,64}</string>
			</dict>
			<key>empire_img/icon_vip/icon_vip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,747},{85,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,70}</string>
			</dict>
			<key>empire_img/icon_vip/icon_vip6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,554},{90,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,87}</string>
			</dict>
			<key>empire_img/board_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,2},{702,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{702,548}</string>
			</dict>
			<key>empire_img/button_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,683},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>empire_img/free_game_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,827},{117,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,260}</string>
			</dict>
			<key>empire_anim/items/item_10/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,1208},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_10/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1352},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_10/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,776},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_10/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,2},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_11/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,1290},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_11/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1496},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_11/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,920},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_11/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,2},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_12/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,1352},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_12/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,1517},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_12/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,557},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_12/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,2},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_2/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,645},{98,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,74}</string>
			</dict>
			<key>empire_anim/items/item_2/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1946},{98,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,148}</string>
			</dict>
			<key>empire_anim/items/item_2/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,1064},{98,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,222}</string>
			</dict>
			<key>empire_anim/items/item_2/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,908},{98,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,296}</string>
			</dict>
			<key>empire_anim/items/item_3/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,1434},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_3/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1905,1722},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_3/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,557},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_3/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,131},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_4/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,1496},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_4/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1784},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_4/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,683},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_4/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,260},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_5/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,1578},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_5/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1640},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_5/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,701},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_5/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1766,356},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_6/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,1640},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_6/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1784},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_6/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,701},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_6/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,356},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_7/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1517},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_7/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1636},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_7/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,827},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_7/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,389},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_8/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1517},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_8/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1217},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_8/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,908},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_8/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,518},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_9/merge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1928},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_9/merge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,971},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_9/merge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1208},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_9/merge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,554},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,1517},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_1_rm_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1217},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_2_rm_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,1064},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_3_rm_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,554},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_img/board_freegame_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{700,551}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,551}</string>
			</dict>
			<key>empire_img/icon_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,710},{38,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,40}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_0/sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,1517},{140,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,115}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_1/sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,845},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_2/sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,1064},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/frame_gold/frame_3/sprite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,554},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_1_rm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1069},{140,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,220}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_2_rm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1208},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_2_rm_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,1208},{140,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,305}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_3_rm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,647},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_3_rm_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,710},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
			<key>empire_anim/items/item_1/merge_gold_3_rm_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1879,710},{125,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,350}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>empire_sprites_common.png</string>
			<key>realTextureFileName</key>
			<string>empire_sprites_common.png</string>
			<key>size</key>
			<string>{2048,2046}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2046</integer>
		</dict>
	</dict>
</plist>