<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pharaoh_img/items/item1/item1_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item1/item1_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,337},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item1/item1_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,3},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item1/item1_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1887},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item1/item1_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1669},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item1/item1_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,361},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/frame/merge_gold_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/frame/merge_gold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,337},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/frame/merge_gold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,121},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/frame/merge_gold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,3},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/frame/merge_gold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1817},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/frame/merge_gold_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,579},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/frame/merge_silver_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/frame/merge_silver_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,337},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/frame/merge_silver_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,219},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/frame/merge_silver_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,3},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/frame/merge_silver_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,221},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/frame/merge_silver_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,797},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item10/item10_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item10/item10_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,415},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item10/item10_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,342},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item10/item10_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,3},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item10/item10_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item10/item10_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1015},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item11/item11_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item11/item11_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,415},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item11/item11_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,342},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item11/item11_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,116},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item11/item11_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item11/item11_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1233},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item12/item12_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item12/item12_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,347},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item12/item12_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,352},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item12/item12_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,116},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item12/item12_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,219},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item12/item12_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1451},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_g_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,151},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_g_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,347},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_g_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,434},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_g_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1774,116},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_g_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_g_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1669},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_s_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,532},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_s_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,454},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_s_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,434},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_s_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,121},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_s_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,219},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item13/item13_s_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,361},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item2/item2_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,429},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item2/item2_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,526},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item2/item2_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,444},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item2/item2_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,121},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item2/item2_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item2/item2_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,3},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item3/item3_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,429},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item3/item3_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,526},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item3/item3_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,337},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item3/item3_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,234},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item3/item3_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,219},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item3/item3_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,221},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item4/item4_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,429},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item4/item4_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,536},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item4/item4_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,339},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item4/item4_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,234},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item4/item4_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item4/item4_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,3},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item5/item5_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,493},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item5/item5_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,425},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item5/item5_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,339},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item5/item5_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,229},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item5/item5_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,219},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item5/item5_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,579},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item6/item6_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,493},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item6/item6_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,455},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item6/item6_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,431},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item6/item6_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,229},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item6/item6_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item6/item6_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,797},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item7/item7_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,497},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item7/item7_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,425},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item7/item7_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,431},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item7/item7_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,342},{112,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,106}</string>
			</dict>
			<key>pharaoh_img/items/item7/item7_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item7/item7_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1015},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item8/item8_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,523},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item8/item8_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,503},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item8/item8_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,337},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item8/item8_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,229},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item8/item8_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item8/item8_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1233},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/items/item9/item9_merge0.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,523},{112,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,62}</string>
			</dict>
			<key>pharaoh_img/items/item9/item9_merge1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,503},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,72}</string>
			</dict>
			<key>pharaoh_img/items/item9/item9_merge2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,337},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>pharaoh_img/items/item9/item9_merge3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1871,239},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,107}</string>
			</dict>
			<key>pharaoh_img/items/item9/item9_merge4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,3},{112,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,142}</string>
			</dict>
			<key>pharaoh_img/items/item9/item9_merge5.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1451},{112,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,212}</string>
			</dict>
			<key>pharaoh_img/main_img/collection_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{171,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,352}</string>
			</dict>
			<key>pharaoh_img/main_img/pharaoh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,121},{171,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,33}</string>
			</dict>
			<key>pharaoh_img/main_img/ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,352},{56,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,19}</string>
			</dict>
			<key>pharaoh_img/main_img/txt_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1965},{136,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,26}</string>
			</dict>
			<key>pharaoh_img/multiplier/light_item_multiple.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,497},{67,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,48}</string>
			</dict>
			<key>pharaoh_img/multiplier/x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,550},{32,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,27}</string>
			</dict>
			<key>pharaoh_img/multiplier/x1_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,497},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>pharaoh_img/multiplier/x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,407},{49,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,27}</string>
			</dict>
			<key>pharaoh_img/multiplier/x10_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,298},{53,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,27}</string>
			</dict>
			<key>pharaoh_img/multiplier/x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,414},{39,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,25}</string>
			</dict>
			<key>pharaoh_img/multiplier/x2_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,390},{46,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,30}</string>
			</dict>
			<key>pharaoh_img/multiplier/x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,459},{35,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,26}</string>
			</dict>
			<key>pharaoh_img/multiplier/x3_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,593},{41,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,31}</string>
			</dict>
			<key>pharaoh_img/multiplier/x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,462},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,27}</string>
			</dict>
			<key>pharaoh_img/multiplier/x4_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,339},{45,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,31}</string>
			</dict>
			<key>pharaoh_img/multiplier/x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,500},{37,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,24}</string>
			</dict>
			<key>pharaoh_img/multiplier/x5_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,543},{44,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,29}</string>
			</dict>
			<key>pharaoh_img/multiplier/x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,506},{38,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,27}</string>
			</dict>
			<key>pharaoh_img/multiplier/x6_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,357},{44,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pharaoh_spritesheets.png</string>
			<key>realTextureFileName</key>
			<string>pharaoh_spritesheets.png</string>
			<key>size</key>
			<string>{2000,1997}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2000</integer>
			<key>height</key>
			<integer>1997</integer>
		</dict>
	</dict>
</plist>