<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="." verb="" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <staticContent>
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".plist" mimeType="application/xml" />
        <mimeMap fileExtension=".jmc" mimeType="application/json" />
        <mimeMap fileExtension=".unity3d" mimeType="application/vnd.unity" />
        <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".fnt" mimeType="font/opentype" />
        <mimeMap fileExtension=".mysound" mimeType="audio/mpeg" />
        <mimeMap fileExtension=".atlas" mimeType="text/plain" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
        <mimeMap fileExtension=".fsh" mimeType="text/plain" />
        <mimeMap fileExtension=".vsh" mimeType="text/plain" />
      </staticContent>
    </system.webServer>
</configuration>
